<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.parabola.ooki.core.mapper.MonsterMapper">
    <resultMap id="monsterMap" type="cn.parabola.ooki.core.model.Monster">
        <id property="monsterId" column="monsterId" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="level" column="level" />
        <result property="exp" column="exp" />
        <result property="active" column="active" />
        <result property="hungry" column="hungry" />
        <result property="intimacy" column="intimacy" />
        <result property="status" column="status" />
        <result property="actionPoint" column="actionPoint" />
        <result property="playerId" column="playerId" />
    </resultMap>

    <insert id="insert" parameterType="cn.parabola.ooki.core.model.Monster">
        <![CDATA[
            insert into monster(monsterId, name, type, level, exp, active, hungry, intimacy, status, actionPoint, playerId)
             values(#{monsterId}, #{name}, #{type}, #{level}, #{exp}, #{active}, #{hungry}, #{intimacy}, #{status}, #{actionPoint}, #{playerId})
        ]]>
    </insert>

    <update id="update" parameterType="cn.parabola.ooki.core.model.Monster">
        <![CDATA[
            update monster set name=#{name},type=#{type},level=#{level},exp=#{exp},active=#{active},hungry=#{hungry},intimacy=#{intimacy},status=#{status},actionPoint=#{actionPoint},playerId=#{playerId}
            where monsterId = #{monsterId};
        ]]>
    </update>

    <delete id="delete" parameterType="long">
        <![CDATA[
            delete from monster where monsterId = #{0};
        ]]>
    </delete>

    <select id="select" parameterType="long" resultMap="monsterMap">
        <![CDATA[
            select * from monster where monsterId = #{0};
        ]]>
    </select>

    <select id="selectAll" resultMap="monsterMap">
        <![CDATA[
            select * from monster;
        ]]>
    </select>

    <select id="selectByRange" resultMap="monsterMap">
        <![CDATA[
            select * from monster limit #{0},#{1};
        ]]>
    </select>

    <select id="count" resultType="int">
        <![CDATA[
            select count(*) from monster;
        ]]>
    </select>
</mapper>